# Handle line endings automatically for files detected as text
# and leave files detected as binary untouched.
* text=auto

# Ensure these files always have LF line endings on checkout
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
.gitignore text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
